
// Imports


// Colors 
:root {

  --font--inter: 'Inter';
  --font--arial: "Arial Rounded MT Bold-Regular", Helvetica;
  --font--arialBold: "Arial Rounded MT Bold-Regular",Helvetica;
  --font--sourceLight: "Source Sans Pro-Light", Helvetica;
  --font--sourceSemiBold:"Source Sans Pro-SemiBold", Helvetica; ;
  --font--interBold: "Inter-Bold", Helvetica ;
  --font--interLight: "Inter-Light", Helvetica;
  --font--interSemiBold: "Inter-SemiBold", Helvetica;
  --font--interRegular: "Inter-Regular", Helvetica;
  --font--montserratBold: "Montserrat-Bold", Helvetica;
  --font--montserratSemiBold:"Montserrat-SemiBold", Helvetica; ;
  --font--nonary: ;
  --font--denary: ;
  --font--eleventh: ;
  --font--twelfth: ;


  --text--primary:black ;
  --text--secondary: white;
  --text--tertiary: #383838;
  --text--quaternary:#7b7b7b ;
  --text--quinary: ;
  --text--senary: ;
  --text--septenary: ;



  --primary: ;
  --secondary: ;
  --tertiary: ;
  --quaternary: ;
  --quinary: ;
  --senary: ;
  --septenary: ;
  --octonary: ;
  --nonary: ;
  --denary: ;
  --eleventh: ;
  --twelfth: ;




  --background--primary: #FFF ;
  --background--secondary:#f8f1ff ;
  --background--tertiary: #9E42F0;
  --background--quaternary: #9E42F0B2;
  --background--quinary: ;
  --background--senary: ;
  --background--septenary: ;
  --background--octonary: ;
  --background--nonary: ;
  --background--denary: ;
  --background--eleventh: ;
  --background--twelfth: ;
  


  --gradient--primary: linear-gradient(135deg, #9E42F0 0%, #01AD94 100%); // Login Page background
  --gradient--secondary:  hsba(272, 72%, 94%, 1), hsba(216, 60%, 75%, 1) ;
  --gradient--tertiary: linear-gradient(180deg, rgb(158, 66, 240) 0%, rgb(2, 173, 148) 100%);
  --gradient--quaternary: linear-gradient(135deg, #9E42F0 0%, #5F6DCB 100%);
  --gradient--quinary: linear-gradient(to bottom, rgb(158, 66, 240), rgb(76, 123, 192)) 1;;
  --gradient--senary: ;
  --gradient--septenary: ;
  
}

//global styles

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.page-wrapper{
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-content-container {
    max-height: 100vh;
    overflow: auto;
}
.page-content-wrapper {
  width: calc(100vw - 294px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 50px;
}
.global-component-background {
  z-index: 999;
  width: calc(100vw - 294px);
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  height: 90px;
  background-color: var(--text--secondary);
  position: absolute;
  top: 0;
}


@media  (max-width: 1024px) {
  .page-content-wrapper {
      width: calc(100vw - 200px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: 50px;
      padding-left: 50px;
      padding-top: 100px;

  }
  .global-component-background {
    z-index: 999;
    width: calc(100vw - 201px);
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    height: 90px;
    background-color: var(--text--secondary);
    position: absolute;
    top: 0;
  }
  
}
@media (max-width:768px) {
  .page-content-wrapper{
    
      padding-top: 150px;
      padding-right: 30px;
      padding-left: 30px;
  }
  .global-component-background {
    z-index: 999;
    width: calc(100vw - 201px);
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    height: 140px;
    background-color: var(--text--secondary);
    position: absolute;
    top: 0;
  }
  
 
}