.add-post-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    label {

    }
    input{
        border-radius: 10px;
        border: 1px solid var(--background--tertiary);
        height: 40px;
        padding-left: 10px;
    }
    textarea{
        border-radius: 10px;
        border: 1px solid var(--background--tertiary);
    }
    select {
        border-radius: 10px;
        width: 250px;
        height: 40px;
        padding-left: 10px;
        border: 1px solid var(--background--tertiary);
        background-color: white;
    }
}