.page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.page-wrapper{
    width: 100vw;
    display: flex;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
}
.profile {
    position: fixed;
    top: 10px;
    right: 10px;
}


.flex-container {
    max-height: 100vh;
    overflow: auto;
    width: calc(100vw - 294px);
}
.flex-box-wrapper {
    width: 100%;
    display: flex;
    padding: 100px 50px;
    justify-content: center;
    align-items: center;

}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
    max-width: 760px;
}
.dropdown {
    width: 353px;
    height: 85px;
    flex-shrink: 0;
    background: var(--gradient--quaternary);
    border-radius: 7px;
    box-shadow: 0px 1px 4px 3px #00000066;
    border: 1px solid var(--background--tertiary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;

}

.dropdown.open .options-container {
    width: 350px;
    height: 150px;
    flex-shrink: 0;
    border: 0px none;
    background-color: #7b7b7b;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 4px 3px #00000066;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .options-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .option {
    color: var(--text--secondary);
    font-family: var(--font--interRegular);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 90%;
    gap: 10px;


}
.option:hover , .option:focus {
    background-color: var(--background--tertiary);
    color: var(--text--primary);
    cursor: pointer;
    border: 1px solid var(--background--tertiary);
    border-radius: 5px;
}
.category-img-wrapper{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
.category-img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: cover;
}
.category-text {
    color: var(--text--secondary);
    font-family: var(--font--interBold);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    width: 70%;
}

//post styles

.post-card {
    width: 214.054px;
    height: 218px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    cursor: pointer;
    position: relative;
    background: var(--gradient--quaternary);
    border-radius: 7px;
    -webkit-box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
            box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    z-index: 0;
}
.post-card:hover , .post-card:focus {
    scale: 1.02;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;

}
.post-img{
    width: 214.054px;
    height: 170px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0; 
    z-index: 1;
    border-radius: 7px;
}
.post-title-wrapper{
    position: absolute;
    bottom: 25px;
    left: 10px;
}
.post-title-text , .post-price-text{
    color: var(--text--secondary);
    font-family: var(--font--inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.post-price-wrapper{
    position: absolute;
    bottom: 5px;
    right: 10px;
}


  





// media queries

@media  (max-width: 1024px) {
.flex-container{
    width: calc(100vw - 200px);
    display: flex;
}

.dropdown.open .options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 150px;
  }
.dropdown {
    width: 250px;
    .category-img-wrapper{
        width: 40px;
        height: 40px;
        .category-img{
            width: 40px;
            height: 40px;
        }
    }
    .category-text{
    font-size: 20px;
    }
}
}

@media  (max-width: 850px) {

    .flex-box-wrapper{
        padding-top: 600px;
    }


}

@media (max-width:768px) {
    .flex-container{
        width: 100vw;
        display: flex;
    }
    .flex-box-wrapper{
        padding-top: 400px;
    }
    .dropdown {
        width: 220px;
        height: 60px;
        .category-img-wrapper{
            width: 25px;
            height: 25px;
            .category-img{
                width: 25px;
                height: 25px;
            }
        }
        .category-text{
        font-size: 15px;
        }
    }

}

    

    
