
.userWrapper {
    width: 207px;
    height: 69px;
    position: absolute;
    top: 11px;
    right: 10px;
    border-radius: 10px;
    background: var(--gradient--primary);
    .user {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 10px;
        height: 69px;
        width: 207px;
        padding: 0 25px;
        gap: 20px;
        .userAvatar {
            width: 50px;
            height: 49px;
            -ms-flex-negative: 0;
                flex-shrink: 0;
            border-radius: 50%;
        }
        .userName {
            font-size: 1.5rem;
            height: 69px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: var(--text--secondary);
            color: #FFF;
            font-family: var(--font--primary);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
                    }
    }
}
