.transition-page {
    margin: 0;
    padding: 50px;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical; 
    -webkit-box-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--gradient--primary);
    font-family: var(--font--arial);
}

.transition-wrapper {
    width: 1440px;
    height: 1024px;
    position: relative;
}

.transition-title {
    color: var(--text--secondary);
    font-family: "Arial Rounded MT Bold-Regular", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;   
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0%;
}

.content-box {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.vr-line {
    width: 6px;
    height: 80%;
    border-radius: 5px;
    background-color: var(--text--secondary);
}

.img-box {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-orient: vertical; 
    -webkit-box-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
    position: relative;
}

.img-box img {
    width: 565px;
    height: 503px;
    object-fit: cover;
    cursor: pointer;
}

.text-wrapper-1,
.text-wrapper-2 {
    color: var(--text--secondary);
    font-family: var(--font--interSemiBold);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    bottom: -20%;
    cursor: pointer;
}

.text-wrapper-1 {
    right: 0;
}

.text-wrapper-2 {
    left: 0;
}

.text-wrapper-1:hover,
.text-wrapper-1:focus,
.text-wrapper-2:hover,
.text-wrapper-2:focus {
    color: var(--text--primary);
}
