nav {
    width: 294px;
    flex-shrink: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: white;
    align-items: center;
    padding: 20px;
    .logo {
        background: linear-gradient(130deg, #9E41F0 0%, #02AD94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Arial Rounded MT Bold;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 126px;
        height: 39.146px;
        flex-shrink: 0;
    }
    .user {
        .userAvatar {
            height: 100px;

        }
    }
}