.postFormContainer {
    width: 1146px; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .postFormWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            div {
                display: flex;
                flex-direction: column;
            }
        }
        .postForm {
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            label {
                color: var(--text--primary);
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            input {
                color: black;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding-left: 5px;
            }
            .postTitleInput {
                width: 27.5rem;
                height: 2.625rem; 
                flex-shrink: 0;
                border-radius: 0.625rem; 
                border: 2px solid transparent; 
                border-image: linear-gradient(to right, rgba(158, 66, 240, 1), rgba(76, 123, 192, 1));
                border-image-slice: 1; 
            }
            .postTitleInput:active & .postTitleInput:focus {
                outline: none;
                border: none;
            }
        }
    }
}