.page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.page-wrapper{
    width: 100vw;
    display: flex;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
}
.profile {
    position: fixed;
    top: 10px;
    right: 10px;
}
.post-flex-container {
   max-height: 100vh;
   overflow: auto;
}
.post-flex-wrapper {
    width: calc(100vw - 294px);
    display: flex;
    padding: 100px 50px;
}
.post-flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}
.search-post-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 30px;
}
.search-post {
    width: 400px;
    height: 33px; 
    border: 1px solid var(--background--tertiary);
    border-radius: 10px;
    padding-left: 30px;
}
@media  (max-width: 1024px) {
    .post-flex-wrapper {
        width: calc(100vw - 200px);
        display: flex;
        padding: 100px 50px;
    }
    .search-post{
        width: 300px;
    }
}
@media (max-width:768px) {
    .search-post-wrapper {
        justify-content: flex-end;
        right: 10px;
        top: 100px;
    }
    .search-post{
        width: 200px;
    }
    .post-flex-container{
        padding: 70px 0px;
    }
    .navbar{
        display: none;
    }
    
}
    
