

.post-flex-container {
   max-height: 100vh;
   overflow: auto;
}
.post-flex-wrapper {
    width: calc(100vw - 294px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 50px;
}
.post-flexbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
@media  (max-width: 1024px) {
    .post-flex-wrapper {
        width: calc(100vw - 200px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 100px 50px;
    }
    .search-post{
        width: 300px;
    }
}
@media (max-width:768px) {
    .search-post-wrapper {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        right: 10px;
        top: 100px;
    }
    .search-post{
        width: 200px;
    }
    .post-flex-container{
        padding: 70px 0px;
    }
    
}
    
